body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   font-family:'NHaasGroteskDSPro-65Md';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#carousel{
  max-height:540px;
  
}

.carousel-item img{
  height: 80%;
  width: 80%;
}

.carousel-container {
  max-width: 800px; /* Control maximum width */
  margin: 0 auto; /* Center align carousel */
  margin-bottom:10px;
  padding: 20px; /* Add some padding for spacing */
}

.carousel-item {
  min-height: 200px; /* Set a minimum height */
}
.carousel-item img{
  height:100%;
  object-fit: contain;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border-radius: 50%;
}

.carousel-caption {
  bottom: 10%; /* Adjust position */
}

.search-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 10vh; /* Full viewport height */
}
.search-container div{
  height:40%;
  margin-top:5vh;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}
