/* Card.css */
.card-container {
    width: 20rem;
    max-height: 320px;
    background-color: rgb(36, 34, 34);
    color: #f5f5f5;
    border: 1px solid #444;
    border-radius: 8px;
    box-shadow: 0 3px 12px rgb(132, 126, 126);
    margin-top: 1rem;
    margin-right: 1rem;
}

.card-image {
    height: 140px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body-custom {
    overflow-y: hidden;
    padding: 10px;
}

.card-title-custom {
    font-size: 16px;
    margin-bottom: 8px;
    color: #f5f5f5;
}

.select-custom {
    width: 60px;
    background-color: #444;
    color: #f5f5f5;
    border: none;
    border-radius: 4px;
}

.button-custom {
    font-size: 14px;
    padding: 8px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    width: 100%;
}
.order-btn:hover{
  background-color: #e07b00 !important;
}