/* src/Offers.css */

.offers-container {
    margin: 20px;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    width: 600px; /* Adjust width as per your design */
    text-align: center;
}

.coupon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #e0e0e0; */
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.coupon-details {
    flex: 1;
    text-align: left;
}

.photoback img:hover{
    box-shadow: 8px 8px 15px rgba(188, 174, 174, 0.5);
    transform: scale(1.02);
}
.coupon-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.coupon-description {
    font-size: 14px;
    margin-bottom: 5px;
}

.coupon-validity {
    font-size: 12px;
    color: #666;
}

.apply-button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.apply-button:hover {
    background-color: #0056b3;
}
