.banner-wrapper {
    padding: 27px 0;
    background-color:#3b3b3b !important;
}

.banner-container {
    width: 80%;
    margin: 0 auto;
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.image-wrapper {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.banner-image {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.image-wrapper:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.slick-prev,
.slick-next {
    background: #ffffff;
    border-radius: 50%;
    border: 1px solid #ddd;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.slick-prev:hover,
.slick-next:hover {
    background: #f0f0f0;
}

.slick-prev:before,
.slick-next:before {
    font-size: 12px;
    color: #333;
}

.slick-dots li button:before {
    font-size: 8px;
    color:rgb(218, 203, 203);
}

.slick-dots li.slick-active button:before {
    color: white;
}
