/* MostLovedCollections.css */
.style__Wrapper-sc-18spifb-0 {
    padding: 25px;
    background-color: #3b3b3b !important;
}

.style__Container-sc-18spifb-1 {
    margin: 0 auto;
    max-width: 1200px;
}

.style__HeadingWrapper-sc-18spifb-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.style__WrapperCard-sc-18spifb-3 {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.style__ImgWrap-sc-18spifb-5 img {
    width: 100%;
    height: auto;
}

.style__DescCard-sc-18spifb-4 {
    padding: 10px;
    background-color: #f9f9f9;
    text-align: center;
}

.slick-prev, .slick-next {
    background-color: #ddd;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.slick-prev:hover, .slick-next:hover {
    background-color: #bbb;
}

.slick-dots li button:before {
    color: #000;
    margin-bottom:2vh;
}

.slick-dots li.slick-active button:before {
    color: #4945BE;
    margin-bottom:2vh;
}
