.custom-navbar {
  background-color:  rgb(36, 34, 34);
  color: white;
  padding: 10px 20px;
}

.custom-nav-link {
  color: white;
  margin-top: 5px;
  font-size: 16px;
}

.custom-nav-link:hover {
  color: aquamarine;
}
.nav-link:hover{
  color:#ff9000;
}

.custom-btn {
  font-size: 16px;
  margin-top: 5px;
  border-color: white;
  background-color:  #ff9000;
}

.custom-btn:hover {
  background-color: orange;
  color: black;
  border-color: orange;
}

.navbar-brand {
  color: aquamarine !important;
}

.navbar-brand img {
  margin-right: 10px;
}

@media (max-width: 992px) {
  .custom-navbar {
    padding: 10px;
  }

  .navbar-brand {
    font-size: 20px;
  }

  .custom-nav-link, .custom-btn {
    font-size: 12px;
  }
}
